.main_container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
.top_header_text {
  background-color: #e9fcff;
  padding: 2rem 1.5rem;
  font-size: 3rem;
}
.text-4xl {
  font-size: 2rem;
}
.text-2xl {
  font-size: 2rem;
  line-height: inherit;
}
.text-3xl {
  font-size: 1.5rem;
}

@media (max-width: 640px) {
  /* .text-3xl {
    font-size: 1.5rem;
  } */
  .top_header_text {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
  }
  .text-5xl {
    font-size: 1.5rem;
  }
  .text-4xl {
    font-size: 1.5rem;
  }
  .text-xl {
    font-size: 1.5rem;
  }
  .border-x-2 {
    width: 100%;
  }
  .border-r-2 {
    border-left-width: 2px;
    width: 100%;
    margin-top: 10px;
  }
}
